version: '3.7'

services:
  node:
    image: dsuurlant/maybot:latest
    build:
      context: .
    container_name: maybot-node
    env_file:
      - .env
    volumes:
      - ./:/app
    ports:
      - ${EXTERNAL_NODE_PORT:-8080}:8080
